{% extends "client_app/main.html" %}

{% block title %} Change password {% endblock%}
{% block content %}
    <form action="{% url 'changepass' %}" method="post">
        {% csrf_token %}
        <table width="100%">
            {{ form }}
            <tr>
                <td></td>
                <td>
                    <button type="submit" style="margin: 10px 0; float: top">Change</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="next" value="{% url 'logout' %}">
    </form>
{% endblock %}