{% extends "client_app/main.html" %}
{% load extra_tags %}
{% block title %} Tag-o-mancer local files {% endblock %}

{% block content %}
    <div>
        <input id="search_text" type="text" placeholder="search..." value="{{ request.GET.search }}">
        <button onclick="document.location='{% url 'local_files' %}?search=' + document.getElementById('search_text').value">
            Search
        </button>
    </div>
    <table width="100%">
        {% for file in object_list %}
            <tr class="bubble {% if file.hidden %} hidden {% endif %}">
                <td>
                    <table>
                        <tr>
                            <td style="width: 100%">
                                <span>{{ file.name }}</span>
                            </td>
                            <td>
                                <button onclick="document.location='{% url 'hide_show_file' file.id %}'">
                                    {% if file.hidden %}
                                        Show
                                    {% else %}
                                        Hide
                                    {% endif %}
                                </button>
                            </td>
                            <td>
                                <button onclick="document.location='{% url 'download_file' file.id %}'">
                                    Download
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100%">
                                <span>{{ file.path }}</span>
                            </td>
                            <td>
                                <span>{{ file.size|sizify }}</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3">
                <div style="float: right">
                    {% include 'client_app/pagination.html' %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}