{% extends "client_app/main.html" %}

{% block title %} Tag-o-mancer server settings {% endblock %}

{% block content %}
    <table>
        <tr>
            <td>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <button type="submit">Login</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <p>{{ error_text }}</p>
            </td>
        </tr>
    </table>
{% endblock %}