<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tag-o-mancer{% endblock %}</title>
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'client_app/style.css' %}">

<body>
<table width="900">
    <tr class="bottom_border">
        <td style="width: 200px; vertical-align: top;">{% include "client_app/top.html" %}</td>
    </tr>
    <tr>
        <td>
            {% block content %} Content {% endblock %}
        </td>
    </tr>
</table>
</body>
</html>