{% load extra_tags %}
{% if '?' in request.get_full_path %}
    {% define '&' as delim %}
{% else %}
    {% define '?' as delim %}
{% endif %}
{% if is_paginated %}
    {% if page_obj.has_previous %}
        <a href="{{ request.get_full_path }}{{ delim }}page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}
    <span class="page-current">
        {{ page_obj.number }}
    </span>
    {% if page_obj.has_next %}
        <a href="{{ request.get_full_path }}{{ delim }}page={{ page_obj.next_page_number }}">></a>
    {% endif %}
{% endif %}