<table style="table-layout: fixed; height: 100%">
    <tr>
        <td style="width: 100%">
            <button class="invisible nowidth" style="vertical-align: center"
                    onclick="document.location='{% url 'main_page' %}'">
                <p class="top">Tag-o-mancer</p>
            </button>
        </td>
        <td>
            <div class="bubble">
                <table>
                    <tr>
                        <td colspan="2">
                            <p style="white-space: nowrap">
                                Status:
                                {% if is_online == '1' %}
                                    <span style="color: green">Online</span>
                                {% else %}
                                    <span style="color: red">Offline</span>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>{% if login %} {{ login }} {% endif %}</span>
                        </td>
                        <td>
                            <button onclick="document.location='{% url "login" %}'" class="login" style="">Server
                                settings
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td>
            <div class="bubble">
                <table>
                    <tr>
                        <td colspan="2">
                            <p style="white-space: nowrap">
                                {% if user.is_authenticated %}
                                    {{ user.username }}
                                {% else %}
                                    <span style="color: red">Not logged in</span>
                                {% endif %}
                                &nbsp;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        {% if user.is_authenticated %}
                            <td>
                                <button onclick="document.location='{% url "changepass" %}'" class="login">Change
                                    password
                                </button>
                            </td>
                            <td>
                                <button onclick="document.location='{% url "logout" %}'" class="login">Logout</button>
                            </td>
                        {% else %}
                            <td>
                            <button onclick="document.location='{% url "auth" %}'" class="login">Login</button>
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>